# Processamento de dados
pandas
openpyxl
pyarrow

# Machine Learning
xgboost
scikit-learn
joblib

# Feature Store
feast

# Tracking e visualização
mlflow
matplotlib
seaborn

# FastAPI e API
fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
aiofiles
jinja2

# Utilitários
python-dotenv

# Testes
pytest==9.0.2
pytest-cov==4.1.0
pytest-asyncio==0.21.1
httpx==0.26.0